*, *:before, *:after {
  box-sizing: border-box;
}

body  {
  background-color: #333;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 26px;
}

nav {
  /* margin-left: 100px; */
  margin: 0% 10% 20px 10%;
  padding: 1% 0 1% 0;
  position: absolute;
  width: 50%;
  background-color: black ;
  display: block;
}

.arrow-left {
  float: left;
  padding: 4px 0px 0px 20px;
}

.restaurant-list {
  margin: 0% 40% 0% 10%;
  padding-top: 40px;
  width: 50%;
  display: block;
}

.location {
  margin: 1px;
  background-color: #DFDEE0  ;
  padding: 5%;
  display: flex;
  /* display: inline-block; */

}

.location:hover {
    background-color: #B4B2B4 ;
}

.content{
  width: 92%;
}

.arrow {
  float: right;
  margin-right: 1%;
  margin-top: 3%;
/*   padding: 5px; */
}

.content {
  padding: 10px 0px 10px 0px;
}

.content h1 {
  font-size: 24px;
  color: black;
  font-weight: 600;
}

.content h3 {
  font-size: 16px;
  color: black;
}

.container {
  margin: 0% 10% 0 10%;
  width: 100%;
}
